# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log
pids/
*.pid
*.seed

# Environment variables
.env

# Dependency directories
bower_components/

# Build output
dist/
build/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Packages
*.tgz
